<!DOCTYPE html>
<html lang="en">
    <head>
        {%load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Admin Library</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/iconoestudio.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link href="{% static 'css/misEstilos.css' %}" rel="stylesheet" />

    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/AppLibrary/">Inicio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                     
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Agregar</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'clientesFormularios' %}">Cliente</a></li>
                                <li><a class="dropdown-item" href="{% url 'empleadosFormularios' %}">Empleado</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="{% url 'librosFormularios' %}" >Libro</a></li>
                                <li><a class="dropdown-item" href="{% url 'audiovisualesFormularios' %}">Material Audiovisual</a></li>

                            </ul>
                        </li>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Buscar</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'BusquedaClientes' %}">Clientes</a></li>
                                <li><a class="dropdown-item" href="{% url 'BusquedaEmpleados' %}">Empleados</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="{% url 'BusquedaLibros' %}" >Libros</a></li>
                                <li><a class="dropdown-item" href="{% url 'BusquedaAudiovisuales' %}">Material Audiovisual</a></li>

                            </ul>
                        </li>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Listar</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'Clientes' %}">Clientes</a></li>
                                <li><a class="dropdown-item" href="{% url 'Empleados' %}">Empleados</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="{% url 'Libros' %}" >Libros</a></li>
                                <li><a class="dropdown-item" href="{% url 'Audiovisuales' %}">Material Audiovisual</a></li>

                            </ul>
                        </li>


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Links</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="https://www.github.com/Dragunovich1" target="_blank">Mi perfil en GitHub</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="https://www.linkedin.com/in/dragunovich1/" target="_blank">Mi perfil en Linkedin</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
                <h1 style="color:rgb(5, 5, 94);font-size:150%;">Sistema de gestion de Biblioteca</h1>
                <br>
                
            </div>
        </div>


<div>


    {% block contenidoQueCambia %}
                    
    {% endblock contenidoQueCambia %}

</div>
      
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        
        <!-- Footer-->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <br>  <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <ul class="list-inline mb-2">
                           
                            <li class="list-inline-item"><a href="mailto:danielciarlantini@gmail.com">Contacto</a></li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; Library Test Environment - 2023.</p>

                </div>
            </div>
        </footer>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script> 
    </body>


</html>